<html>
	<head>
		<title>Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- Whenever using this html in shiny remove this block-->
		<!--From HERE-->
		<script src="jquery.min.js"></script>
		<!--<link href="shiny.min.css" rel="stylesheet" />
		<script src="shiny.min.js"></script>-->
		<link href="bootstrap.min.css" rel="stylesheet" />
		<link href="bootstrap-accessibility.min.css" rel="stylesheet" />
		<script src="bootstrap.min.js"></script>
		<script src="bootstrap-accessibility.min.js"></script>  <title>MicFunPred</title>
		<!-- Till HERE-->
		<style>
			.card-img-top {
			    width: 100%;
			    height: 12vw;
			    object-fit: cover;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-12 col-sm-12 col-xl-12">
					<div class="d-flex justify-content-center">
						<h3 style="text-align: center !important;"><u><b>Developers</b></u></h3>
					</div>
				</div>
			</div>
			<div class="row" style="margin: 20px !important;">
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<div class="card h-100 shadow text-center">
						<img class="mx-auto d-block card-img-top" src="datta.jpg" alt="Card image cap">
						<h4 class="card-title">Dattatray S. Mongad</h4>
						<p class="card-text">Ph.D. Student @National centre for Cell Science, Pune, India.</p>
						<p class="card-text">
							<a href="mailto:datta@microdm.net.in" target="_blank"><img src="mail.png" height=25></a> &nbsp;&nbsp;
							<a href="https://github.com/microDM" target="_blank"><img src="git.png" height=25></a> &nbsp;&nbsp;
							<a href="https://www.linkedin.com/in/dattatraymongad/" target="_blank"><img src="link.png" height=25></a> &nbsp;&nbsp;
							<a href="https://www.researchgate.net/profile/Dattatray-Mongad" target="_blank"><img src="rg.png" height=25></a> &nbsp;&nbsp;
							<a href="https://scholar.google.com/citations?user=yUGW3-YAAAAJ&hl=en" target="_blank"><img src="gs.png" height=25></a>
						</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<div class="card h-100 shadow text-center">
						<img class="mx-auto d-block card-img-top" src="nikeeta1.jpg" alt="Card image cap">
						<h4 class="card-title">Nikeeta S. Chavan</h4>
						<p class="card-text">Lead Software Engineer, Persistent Systems Limited, Pune, India.</p>
						<p class="card-text">
							<a href="https://github.com/nikeetaC" target="_blank"><img src="git.png" height=25></a> &nbsp;&nbsp;
							<a href="https://www.linkedin.com/in/nikeeta-chavan/" target="_blank"><img src="link.png" height=25></a>&nbsp;&nbsp;
							<a href="https://www.researchgate.net/profile/Nikeeta-Chavan" target="_blank"><img src="rg.png" height=25></a> &nbsp;&nbsp;
						</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<div class="card h-100 shadow text-center">
						<img class="mx-auto d-block card-img-top" src="nitin.jpg" alt="Card image cap">
						<h4 class="card-title">Nitin P. Narwade</h4>
						<p class="card-text">Marie Curie Fellow, Universidad Miguel Hernández de Elche, Spain</p>
						<p class="card-text">
							<a href="https://github.com/nitinnarwade" target="_blank"><img src="git.png" height=25></a> &nbsp;&nbsp;
							<a href="https://www.linkedin.com/in/nitin-narwade-72518011a/" target="_blank"><img src="link.png" height=25></a>&nbsp;&nbsp;
							<a href="https://www.researchgate.net/profile/Nitin-Narwade-2" target="_blank"><img src="rg.png" height=25></a> &nbsp;&nbsp;
							<a href="https://scholar.google.com/citations?hl=en&user=AtoNAS4AAAAJ" target="_blank"><img src="gs.png" height=25></a>						
						</p>
					</div>
				</div>
			</div>
			<div class="row" style="margin: 50px !important;">
				<div class="col-12 col-md-12 col-sm-12 col-xl-12">
					<div class="d-flex justify-content-center">
						<h3 style="text-align: center !important;"><u><b>Investigators</b></u></h3>
					</div>
				</div>
			</div>
			<div class="row" style="margin: 20px !important;">
				<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<div class="card h-100 shadow text-center">
						<img class="mx-auto d-block card-img-top" src="dheeraj.jpeg" alt="Card image cap" height=200 width=250>
						<h4 class="card-title">Dr. Dhiraj P. Dhotre</h4>
						<p class="card-text">Scientist 'D', National Centre for Cell Science, Pune, India.</p>
						<p class="card-text">
							<a href="https://www.linkedin.com/in/dhiraj-dhotre-36ab7a75/" target="_blank"><img src="link.png" height=25></a>&nbsp;&nbsp;
							<a href="https://www.researchgate.net/profile/Dhiraj-Dhotre" target="_blank"><img src="rg.png" height=25></a> &nbsp;&nbsp;
							<a href="https://scholar.google.com/citations?hl=en&user=wURU1tQAAAAJ" target="_blank"><img src="gs.png" height=25></a>
						</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
					<div class="card h-100 shadow text-center">
						<img class="mx-auto d-block card-img-top" src="yogesh.jpg" alt="Card image cap" height=200 width=250>
						<h4 class="card-title">Dr. Yogesh S. Shouche</h4>
						<p class="card-text">Emeritus Scientist, National Centre for Cell Science, Pune, India.</p>
						<p class="card-text">
							<a href="https://www.linkedin.com/in/yogesh-shouche-429990184/" target="_blank"><img src="link.png" height=25></a>&nbsp;&nbsp;
							<a href="https://www.researchgate.net/profile/Yogesh-Shouche" target="_blank"><img src="rg.png" height=25></a> &nbsp;&nbsp;
							<a href="https://scholar.google.com/citations?hl=en&user=jiwvEg4AAAAJ" target="_blank"><img src="gs.png" height=25></a>	
						</p>
					</div>
				</div>
				<div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
				</div>
			</div>
		</div>
	</body>
</html>